{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Document Form</h1>
    <p>Enter the document's date.:   </p>
        <br>
            <form action="/document_detail" method="post">
                <input type="hidden" id="op" name="op" value="I">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_id_libro">ID</span>
                    <input type="text" class="form-control" name="id_libro" aria-label="Sizing example input" aria-describedby="inputGroup_name">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_title">Title</span>
                    <input type="text" class="form-control" name="title" aria-label="Sizing example input" aria-describedby="inputGroup_idt">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_authors">Authors</span>
                    <input type="text" class="form-control" name="authors" aria-label="Sizing example input" aria-describedby="inputGroup_name">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_pub_date">Publication date</span>
                    <input type="text" class="form-control" name="pub_date" aria-label="Sizing example input" aria-describedby="inputGroup_lastName">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_edition">Edition</span>
                    <input type="text" class="form-control" name="edition" aria-label="Sizing example input" aria-describedby="inputGroup_lastName">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_num_pages">Number Pages</span>
                    <input type="text" class="form-control" name="num_pages" aria-label="Sizing example input" aria-describedby="inputGroup_lastName">
                </div>
                <br >
                <input class="btn btn-primary" type="submit" name="form" value="Submit" />
            </form>
</div>
{% endblock %}
