{% extends "base.html" %}

{% block page_content %}

<h2>Libro</h2>
<a href="/document" class="btn btn-success float-right">Add New Document</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Publication Date</th>
        <th scope="col">Edition</th>
        <th scope="col">Number Pages</th>
        <th scope="col">Edit | Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for line in value %}
    <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>{{line[5]}}</td>
        <td>
            <a href="/document_update/{{line[0]}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/document_delete/{{line[0]}}" class="btn btn-danger btn-xs" onclick="return confirm('?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}